.cut-files {
    padding: 10px;
    .tips{
        font-size: 12px;
        color:red;
    }
    .search-container {
        display: flex;
        margin-bottom: 10px;
        .el-input  {
            width: 600px;
            margin-right: 10px;
        }
    }
}