# webstorm
.idea/

# vscode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# npm
node_modules/
npm-debug.log

# for publish folder
log/
build/
dist/
resource/
/buildReport/
tests/sonar-report/
/tests/intern.js

# other
*.log
*.exe
*.jar
.sonar/
/vlc

# dict
src/dict/*.dic
public/localservice/radiodaemon
public/localservice/spdaemon
public/vlc
!public/vlc/README.md
/video/
